@use './variables' as *;
@use './breakpoints' as *;


@mixin box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@mixin ease-transition {
  transition: 0.5s ease-in-out;
}

@mixin svg-transition {
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@mixin background-image($image) {
  background: url($image) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin uppercase {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  
  @mixin side-padding {
    padding: 0 1rem;
  }
  
  @mixin clear-m-p {
    margin: 0;
    padding: 0;
  }
  

  @mixin details-whitebackground {
    .details {
      background-color: $white;
      padding: 1rem 0.5rem 1rem 1rem;
      text-align: center;
      margin: 0 0.5rem;
      display: flex;
      justify-content: space-evenly;
      position: relative;
      bottom: 2.5rem;
      transition: 2s ease-in-out; 

      @include lg {
        padding: 2rem 1rem 2rem 2rem;
        margin: 0 1.5rem;
        bottom: 3.5rem;
      }

      h5 {
        font-size: $x-small;

        @include lg {
          font-size: $small;
        }
  
      }

      p {
        font-size: $xx-small;

        @include lg {
          font-size: $x-small;
        }
  
      }

      &:hover {
        bottom: 4rem;

        @include lg {
          bottom: 6.5rem;
        }

        h5 {
          color: $moss-green;
        }

        svg {
          width: 2rem;
          height: 2rem;
          font-size: $x-small;
          margin-left: 1rem;
          transform: rotate(90deg) scale(0.6) translateY(-5px);
        }
      }
    }
  }

  @mixin gallery-photo {
    width: 90vw;
    height: calc(90vw * 4 / 3);
    margin-bottom: 5rem;

    @include sl {
      height: calc((70vw - 2rem)/2 * 4 / 3);
      width: 42vw;
      margin-bottom: 2.5rem;
    }

    @include sl-m {
      height: calc((80vw - 2rem)/2 * 4 / 3);
      width: calc((80vw - 2rem)/2);
      margin-bottom: 5rem;
    }

    @include md {
      height: calc((85vw - 2rem)/2 * 4 / 3);
      width: calc((85vw - 2rem)/2);
      margin-bottom: 4rem;
    }

    @include lg {
      height: calc((80vw - 2rem)/2 * 4 / 3);
      width: calc((80vw - 2rem)/2);
      margin-bottom: 5rem;
    }
  
  }