@import '../abstracts';

footer {
    @include flex-centered;
    flex-direction: column;
    @include clear-m-p;
    padding: 2rem 10%;
    justify-content: space-evenly;
    background: $light;
  
    p {
      font-family: $mono;
      font-size: $xx-small;
    }
  
    a {
      color: $dark-grey;
    }
  
    .footer-menu {
      display: grid;
      grid-template-columns: 1fr;
      margin: 1rem 0 5rem 0;
      grid-gap: 3rem;
      width: 100%;
      padding-top: 5%;
      font-family: $serif;
  
      @include lg {
        grid-template-columns: 3fr 1fr 2fr;
      }
  
      #menu {
        margin-top: -1rem;
      }
  
      #contact {
        text-align: center;
  
        h5 {
          font-family: $heading-serif;
          margin-bottom: 2rem;
          font-size: $medium;
        }
      }
  
      h5, h4 {
        font-family: $handwriting;
        font-size: $large;
        font-weight: normal;
      }
  
      p.heading {
        position: relative;
        top: -1.5rem;
        left: 2rem;
        font-family: $serif;
        @include uppercase;
        font-size: calc(#{$xx-small} * 0.8);
  
        @include lg {
          left: 3rem;
        }
      }
  
      li {
        list-style: none;
        @include uppercase;
        line-height: 3;
        @include ease-transition;
        text-align: center;
  
        @include lg {
          text-align: initial;
        }
  
        a:hover {
          color: $moss-green;
        }
      }
  
      #contact-details {
        font-size: $xx-small;
  
        padding-left: 0;
        text-align: center;
  
        @include lg {
          padding-left: 3rem;
        }
  
        li {
          &.title {
            font-family: $serif;
          }
  
          &.details {
            margin-bottom: 0.75rem;
            text-transform: none;
            letter-spacing: normal;
            font-family: $mono;
  
            @include lg {
              margin-bottom: 1.5rem;
            }
          }
  
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }