@import '../abstracts';

#nprogress .bar {
    background: $moss-green;
  
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
  
    width: 100%;
    height: $x-small;
  }
  
  #nprogress .peg {
    box-shadow: none;
  }
  
  #nprogress .spinner {
    display: none;
  }
  
  #nprogress .spinner-icon {
    display: none;
  }
  