@import '../abstracts';

.quote-section {
    @include flex-centered;
    flex-direction: column;
    margin: 2rem 0 0 0;
    padding: 3rem 0;
    line-height: 2;
    text-align: center;
  
    @include md {
      margin: 3rem 0;
    }
  
    h2 {
      font-size: $x-small;
      font-family: $heading-serif;
      @include uppercase;
  
      @include md {
        font-size: $medium;
      }
    }
  
    p {
      font-family: $mono;
      @include uppercase;
      font-size: $x-small;
    }
  }