@import './abstracts';
@import './components';

* {
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

body {
  background: $white;
  color: $almost-black;
  font-family: $sans-serif;
  font-size: $small;
}

a {
  color: $almost-black;
  text-decoration: none;
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

#scroll-to-top {
  display: none;
  justify-content: center;
  align-content: center;
  position: fixed;
  bottom: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  padding: 0.4rem;
  fill: $dark-grey;
  right: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: $dark-grey;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  svg {
    @include svg-transition;
  }

  &:hover {
    background-color: $white;
    fill: $light-green;
    svg {
      transform: translateY(-2px);
    }
  }
}

.button {
  background-color: $moss-green;
  color: $white;
  padding: 0.75rem 2rem;
  @include ease-transition;
  font-family: $mono;
  @include uppercase;
  letter-spacing: 0.3rem;
  @include box-shadow;

  &:hover {
    background-color: $dark-grey;
    color: $white;
  }
}

.gallery-container {
  @include flex-centered;
  flex-direction: column;
  padding: 0;
  margin-top: 3rem;
  text-align: center;

  @include lg {
    padding: 0 10%;
  }

  @include xl {
    padding: 0 15%;
  }

  @include xxl {
    padding: 0 20%;
  }

  h4 {
    font-family: $serif;
    font-size: $medium;
    @include lg {
      font-size: calc(#{$h-medium} * 1.35);
    }
  }

  h5 {
    font-family: $mono;
    @include uppercase;
    font-weight: normal;
  }

  .gallery-images {
    margin: 1.5rem 0;

    img {
      width: 100%;
    }
  }
}

#faq {
  @include flex-centered;
  flex-direction: column;
  margin: 5% 0;
  h3 {
    font-family: $heading-serif;
    font-size: calc(#{$h-medium} * 1.35);
    font-weight: normal;
  }
}

.not-found {
  margin-top: 2rem;
  padding: 7.5% 5% 10% 5%;
  background-color: $beige;
  @include flex-centered;
  flex-direction: column;

  h3 {
    font-size: $h-small;
    font-family: $heading-serif;
    font-weight: normal;
    @include uppercase;
    margin-bottom: 3rem;
  }

  .button {
    font-size: $x-small;
  }

}

#instagram-feed {
  margin: 2rem 0;
  @include flex-centered;
  flex-direction: column;

  h5 {
    text-align: center;
    @include uppercase;
    font-weight: normal;
    font-size: $small;
    font-family: $serif;
    margin-bottom: 1rem;
  }

  ._2R-kh {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.75rem;
    margin: 2rem 0;

    @include md {
      grid-template-columns: repeat(6, 1fr);
    }

    ._wPDyp {
      margin: 0;
    }
  }
}