@import './abstracts';

* {
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

#nprogress .bar {
  background: $moss-green;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: $x-small;
}

#nprogress .peg {
  box-shadow: none;
}

#nprogress .spinner {
  display: none;
}

#nprogress .spinner-icon {
  display: none;
}

body {
  background: $white;
  color: $almost-black;
  font-family: $sans-serif;
  font-size: $small;
}

a {
  color: $almost-black;
  text-decoration: none;
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

#scroll-to-top {
  display: none;
  justify-content: center;
  align-content: center;
  position: fixed;
  bottom: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  padding: 0.4rem;
  fill: $dark-grey;
  right: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: $dark-grey;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  svg {
    transition: transform 0.5s ease-in-out;
  }

  &:hover {
    background-color: $white;
    fill: $gold-yellow;
    svg {
      transform: translateY(-2px);
    }
  }
}

.quote-section {
  @include flex-centered;
  flex-direction: column;
  margin: 3rem 0;
  padding: 3rem 0;
  line-height: 2;

  h2 {
    font-size: $medium;
    font-family: $heading-serif;
    @include uppercase;
  }

  p {
    font-family: $mono;
    @include uppercase;
    font-size: $x-small;
  }
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
  padding: 5%;
  background-color: $light;

  .about-heading {
    @include flex-centered;
    flex-direction: column;

    h3 {
      font-size: $xm-large;
      font-weight: normal;
      font-family: $handwriting;
      z-index: 2;
    }

    h5 {
      font-size: $small;
      font-family: $serif;
      font-weight: normal;
      @include uppercase;
    }

    .button {
      font-size: $x-small;
      margin-top: 2rem;
    }
  }

  .about-description {
    border-left: 1px solid $grey;
    text-align: justify;
    @include flex-centered;
    padding: 3.5rem 20%;

    p {
      line-height: 2.5;
      font-family: $mono;
      font-size: $x-small;
    }
  }
}

.button {
  background-color: $moss-green;
  color: $white;
  padding: 0.75rem 2rem;
  transition: 0.5s ease-in-out;
  font-family: $mono;
  @include uppercase;
  letter-spacing: 0.3rem;
  @include box-shadow;

  &:hover {
    background-color: $dark-grey;
    color: $white;
  }
}

nav {
  margin: 3.5rem 0;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;

  .menu-links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: $mono;

    a {
      padding: 0.75rem 2rem;
      transition: 0.5s ease-in-out;
      &.button {
        margin-left: 0.5rem;
      }

      &:not(.button) {
        border-top: 0.25rem solid transparent;
        padding-top: 0.5rem;
        margin: 0 0.5rem;
        &:hover {
          color: $moss-green;
          border-top: 0.25rem solid $light-green;
        }
      }
    }
  }

  .heading {
    text-align: center;
    position: absolute;
    top: calc(#{$x-large} * 1.9);
    z-index: 1;

    h1 {
      font-family: $heading-serif;
      @include uppercase;
      font-weight: normal;
      font-size: $x-large;
      text-align: center;
    }
  }
}

#main-image {
  background: url(../public/main.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.gallery-section {
  margin: 5rem 10% 9rem 10%;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    height: calc((100vw - 9rem) / 3 * 1.2);

    h5 {
      font-family: $serif;
      font-size: $h-small;
      font-weight: normal;
      @include uppercase;
    }
    p {
      font-family: $mono;
      font-size: $x-small;
    }

    svg {
      width: 2rem;
      height: 2rem;
      font-size: $x-small;
      transform: rotate(90deg) scale(0.6);
      margin-left: 1rem;
      transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    }

    #weddings {
      display: flex;
      align-items: flex-end;
      background: url(../public/weddings.webp) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      @include details-whitebackground;
      height: 100%;
    }

    #engagements {
      display: flex;
      align-items: flex-end;
      background: url(../public/engagements.webp) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      @include details-whitebackground;
      height: 100%;
    }

    #family {
      display: flex;
      align-items: flex-end;
      background: url(../public/family.webp) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      @include details-whitebackground;
      height: 100%;
    }
  }
}

.pricing-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  padding: 7.5% 5% 10% 5%;
  background-color: $beige;

  .heading {
    @include flex-centered;
    flex-direction: column;

    h3 {
      font-size: $xm-large;
      font-weight: normal;
      font-family: $handwriting;
      z-index: 2;
    }

    h5 {
      font-size: $small;
      font-family: $serif;
      font-weight: normal;
      @include uppercase;
    }

    .button {
      font-size: $x-small;
      margin-top: 2rem;
    }
  }

  .description {
    border-right: 1px solid $grey;
    text-align: justify;
    @include flex-centered;
    padding: 3.5rem 20%;

    p {
      line-height: 2.5;
      font-family: $mono;
      font-size: $small;
    }
  }
}

#featured {
  background: url(../public/featured.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vw;
  position: relative;

  .heading {
    position: absolute;
    top: 30%;
    left: 5%;
    color: $white;
    font-family: $mono;
    font-size: $small;

    span.handwriting {
      font-family: $handwriting;
      font-size: $xm-large;
      position: relative;
      top: 1.5rem;
      margin-right: 1rem;
    }

    p.second-line {
      margin-top: -1.5rem;
      text-align: right;
    }
  }
}

.latest-section {
  display: grid;
  margin: 2rem 0;
  padding: 2rem 10%;
  background-color: $white;

  .heading {
    @include flex-centered;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      font-size: $xm-large;
      font-weight: normal;
      font-family: $handwriting;
      z-index: 2;
      position: relative;
      top: -4rem;
      left: 8rem;
      margin-bottom: -4rem;
    }

    p {
      font-size: $small;
      font-family: $serif;
      font-weight: normal;
      @include uppercase;
    }

    .button {
      font-size: $x-small;
      margin-top: 2rem;
    }
  }

  .latest-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: wrap;

    .gallery-item {
      @include flex-centered;
      flex-direction: column;
      margin-bottom: 2rem;

      img {
        height: 40vh;
      }

      h4 {
        font-family: $serif;
        font-size: $xx-small;
        font-weight: normal;
        color: $dark-grey;
        margin: 1.5rem 0 0.5rem 0;
        @include uppercase;
      }

      h5 {
        font-size: $medium;
        font-family: $serif;
        font-weight: normal;
      }
    }
  }

  .description {
    text-align: justify;
    @include flex-centered;
    padding: 3.5rem 5%;

    p {
      line-height: 2.5;
      font-family: $mono;
      font-size: $x-small;
    }
  }
}

#bottom-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem 5%;
  text-align: center;

  div {
    padding: 2rem 0;
  }

  div.center {
    border-left: 1px solid $moss-green;
    border-right: 1px solid $moss-green;
  }

  div {
    @include flex-centered;
    flex-direction: column;

    p.first-line {
      font-family: $mono;

      @include uppercase;
    }

    p.second-line {
      font-family: $serif;
      @include uppercase;
      font-size: $medium;
      color: $moss-green;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $grey;
      }
    }
  }
}

#instagram-feed {
  margin: 2rem 0;
  @inlude flex-centered;
  flex-direction: column;

  h5 {
    text-align: center;
    @include uppercase;
    font-weight: normal;
    font-size: $small;
    font-family: $serif;
    margin-bottom: 1rem;
  }

  ._2R-kh {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.75rem;
    margin: 2rem 0;

    ._wPDyp {
      margin: 0
    }
  }
}

footer {
  @include flex-centered;
  flex-direction: column;
  @include clear-m-p;
  padding: 2rem 10%;
  justify-content: space-evenly;
  background: $light;

  p {
    font-family: $mono;
    font-size: $xx-small;
  }

  a {
    color: $dark-grey;
  }

  .footer-menu {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    margin: 1rem 0 5rem 0;
    grid-gap: 3rem;
    width: 100%;
    padding-top: 5%;
    font-family: $serif;

    #menu {
      margin-top: -1rem;
    }

    #contact {
      text-align: center;

      h5 {
        font-family: $heading-serif;
        margin-bottom: 2rem;
        font-size: $medium;
      }
    }

    h5 {
      font-family: $handwriting;
      font-size: $large;
      font-weight: normal;
    }

    p.heading {
      position: relative;
      top: -1.5rem;
      left: 3rem;
      font-family: $serif;
      @include uppercase;
      font-size: calc(#{$xx-small} * 0.8);
    }

    li {
      list-style: none;
      @include uppercase;
      line-height: 3;
      transition: 0.5s ease-in-out;

      a:hover {
        color: $moss-green;
      }
    }

    #contact-details {
      font-size: $xx-small;
      padding-left: 3rem;

      li {
        &.title {
          font-family: $serif;
        }

        &.details {
          margin-bottom: 1.5rem;
          text-transform: none;
          letter-spacing: normal;
          font-family: $mono;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
